{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":19,"column":8},"action":"insert","lines":["# Node","npm-debug.log","","# Mac",".DS_Store","","# Windows","Thumbs.db","","# WebStorm",".idea/","","# vi","*~","","# General","log/","*.log","","# etc..."],"id":1}]]},"ace":{"folds":[],"scrolltop":56,"scrollleft":0,"selection":{"start":{"row":19,"column":8},"end":{"row":19,"column":8},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":2,"state":"start","mode":"ace/mode/ini"}},"timestamp":1496940835158,"hash":"2870a994103543965d5444c4d8615a5f51515688"}